<!--

    <ul>
    <li *myFor="let n com [1, 2, 3]">{{n}}</li>
</ul>
<p>Testando (click)</p>

<button (click)="fazendoAlgo()">Fazendo Algo</button>

-->
<mat-card>
    <mat-card-title>Novo Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="product.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" [(ngModel)]="product.price" name="price">
        </mat-form-field>
    </form>
    <button mat-raised-button color="primary" (click)="createProduct()">Salvar</button>
    <button mat-raised-button (click)="cancelProduct()">cancelar</button>
</mat-card>
