.home .title {

    font-size: 3rem;
    font-weight: 300;
<<<<<<< Updated upstream
    line-height: 1.2;
}

.home .subtitle {
    
    font-size: 1.1rem;
}

.home {
    background-color: #FFF;
=======
>>>>>>> Stashed changes
}